/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway|Source+Sans+Pro');

@font-face {
	font-family : 'script';
	font-style  : normal;
	src         : url('/css/script.eot');
	src         : local('script'), url('/css/script.eot') format('embedded-opentype'), url('/css/script.woff') format('woff');
}

.raleway { font-family : 'Raleway', sans-serif; }

.lato { font-family : 'Lato', sans-serif; }

.src-sans-pro { font-family : 'Source Sans Pro', sans-serif; }

.script { font-family : 'script', serif; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	color       : #222222;
	font-size   : 1em;
	line-height : 1.4;
}

::-moz-selection {
	background  : #b3d4fc;
	text-shadow : none;
}

::selection {
	background  : #b3d4fc;
	text-shadow : none;
}

hr {
	display    : block;
	height     : 1px;
	border     : 0;
	border-top : 1px solid #cccccc;
	margin     : 1em 0;
	padding    : 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align : middle;
}

fieldset {
	border  : 0;
	margin  : 0;
	padding : 0;
}

textarea {
	resize : vertical;
}

.browser-upgrade {
	margin     : 0.2em 0;
	background : #cccccc;
	color      : #000000;
	padding    : 0.2em 0;
}

.hidden {
	display : none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visually-hidden {
	border   : 0;
	clip     : rect(0 0 0 0);
	height   : 1px;
	margin   : -1px;
	overflow : hidden;
	padding  : 0;
	position : absolute;
	width    : 1px;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
	clip     : auto;
	height   : auto;
	margin   : 0;
	overflow : visible;
	position : static;
	width    : auto;
}

.invisible {
	visibility : hidden;
}

.clearfix:before,
.clearfix:after {
	content : " "; /* 1 */
	display : table; /* 2 */
}

.clearfix:after {
	clear : both;
}

@media only screen and (min-width : 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio : 1.25),
(min-resolution : 1.25dppx),
(min-resolution : 120dpi) {
	/* Style adjustments for high resolution devices */
}

@media print {
	*,
	*:before,
	*:after,
	*:first-letter,
	*:first-line {
		background  : transparent !important;
		color       : #000000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
		box-shadow  : none !important;
		text-shadow : none !important;
	}
	
	a,
	a:visited {
		text-decoration : underline;
	}
	
	a[href]:after {
		content : " (" attr(href) ")";
	}
	
	abbr[title]:after {
		content : " (" attr(title) ")";
	}
	
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content : "";
	}
	
	pre,
	blockquote {
		border            : 1px solid #999999;
		page-break-inside : avoid;
	}
	
	thead {
		display : table-header-group;
	}
	
	tr,
	img {
		page-break-inside : avoid;
	}
	
	img {
		max-width : 100% !important;
	}
	
	p,
	h2,
	h3 {
		orphans : 3;
		widows  : 3;
	}
	
	h2,
	h3 {
		page-break-after : avoid;
	}
}

/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
	height : 100%
}

.d-block { display : block; }

.main {
	height    : 100%;
	/*color     : white;*/
	font-size : 24px;
}

.footer-text {
	width     : 100%;
	font-size : 1rem;
}

.bg-img {
	background      : url('/img/bg-emily-white-brick-2-windows.jpg') no-repeat center;
	background-size : cover;
	position        : relative;
}

.dark-overlay {
	position   : absolute;
	top        : 0;
	left       : 0;
	height     : 100%;
	width      : 100%;
	background : rgba(0, 0, 0, .25);
}

.top-left {
	position : absolute;
	top      : 24px;
	left     : 24px;
}

.bottom-left {
	position : absolute;
	bottom   : 0;
	left     : 16px;
}

/* Position text in the middle */
.middle {
	position   : absolute;
	top        : 50%;
	left       : 50%;
	transform  : translate(-50%, -50%);
	text-align : center;
}

.upper-third {
	position   : absolute;
	top        : 33%;
	left       : 50%;
	transform  : translate(-50%, -50%);
	text-align : center;
}

.lower-third {
	position   : absolute;
	top        : 66%;
	left       : 50%;
	transform  : translate(-50%, -50%);
	text-align : center;
}

/* Style the <hr> element */
.hr {
	margin : auto;
	width  : 50%;
}

.coming-soon {
	width      : 100%;
	padding    : 0 2em;
	position   : absolute;
	top        : 25%;
	left       : 50%;
	transform  : translate(-50%, -50%);
	text-align : center;
}

.coming-soon h1 {
	margin-bottom : .5em;
}

.logo {
	height : 64px;
}

.btn-sharp {
	border-radius : 0;
}

.btn-hollow {
	background : none;
	padding    : 12px 22px;
}

[data-email-me] {
	font-size  : 16px;
	min-height : 50px;
	min-width  : 150px;
	padding    : 12px;
}

@media screen and (max-height : 700px) {
	.logo {
		height : 48px;
	}
	
	.coming-soon {
		top     : 40%;
		padding : 0 1em;
	}
	
	.bottom-left {
		position : absolute;
		bottom   : 1em;
		left     : 0;
		width    : 100%;
		padding  : 0 1em;
	}
	
	[data-email-me] {
		display : block;
		margin  : 0 auto;
	}
}
